.overlay-bg {
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-15px, 10px);
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 1000px;
    justify-content: center;
}

.active-bg{
    display: flex !important;
    pointer-events: all;
}

.inactive-bg{
    display: none !important;
    pointer-events: none;
}

.overlay{
    background: white;
    border: 1px black solid;
    border-radius: 10px;
    min-width: 400px;
    min-height: 400px;
    text-align: center;
    height: 500px;
    display: block;
    background: gray;
}

.overlay-head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px black solid;
}

.overlay-head * {
    padding: 5px;
}

.close_btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
}